html,
body {
  height: 100%;
  width: auto;
  min-width: 360px;
 }

#header {
  background: url(../img/Background.jpg) center;
  background-size: cover;
   /*-100% высоты экрана--*/
   height: 918px;
  /*-100% высоты экрана--*/
  display: block;
  width: 1500px;
}

.logo {
  bottom: 7px;
}

.nav-link {
  color: #fff;
}

.row {
  padding-top: 35px;
}

.main-text {
  max-width: 460px;
  height: 321px;
  margin-top: 165px;
  padding-left: 0px;

}

.contact-title {
  font-size: 44px;
  letter-spacing: 4px;
  font-weight: 400;
}

.contact-text {
  margin-top: 38px;
}

.menu-right {
  left: 80px;
}


.start-img{
  height: 780px;
  padding-left: 110px;


}

.contact-block {
  max-width: 460px;
  height: 321px;
  color: #fff;
}

.main_btn {
  margin-bottom: 20px;
  border-radius: 45px;
  color: #292929;
  background-color: #f1cdb3;
  border-color: none;
  width: 207px;
  height: 52px;
  margin-top: 23px;
}

.about-img{
  padding-left: 165px;
}
.about-text,
.about-title{
  width: 410px;
padding-left: 15px;
padding-top: 20px;}


