html,
body {
  font-family: "Georgia", "Arial", sans-serif;
  height: 100%;
  width: auto;
  min-width: 360px;
}

.header {
  background: url(../img/podl.png), radial-gradient(70% 215.42% at 0% 0%, #44352b 0%, #262425 100%), #211F20;
  padding-top: 50px;
}

.start__title{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 44px;
  letter-spacing: 3px;
 
}
.start__text,
.nav-link{
font-family: Arial;
font-weight: 400;
font-size: 15px;
line-height: 24px;
 color:rgba(205, 205, 205, 1)
}
.section {
  padding-top: 100px;
}

.nav-link,
.start__title {
  color: #fff
}
 
.start__button {
  border-radius: 45px;
  background-color: rgb(192, 139, 89);
  color: #fff;

}

.pets {
  margin-left: 150px;
}

.about__content {
  width: 450px;
}

.carousel-inner {
  padding-left: 75px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 20px;
}

.carousel-control-prev {
  left: -5px;
}

.carousel-control-next {
  right: -15px;
}

.row {
  padding: 0px;
  margin: 0px;
  justify-content: space-evenly;
}

.card-img-top {
  width: 100%;
  padding-left: 40px;
  padding-top: 45px;
}

.card {
  height: 435px;
  width: 270px;
  text-align: center;
  background-color: #fafafa;
}

.donate__content {
  width: 400px;
}

.help {
  padding-top: 82px;
  padding-left: 3px;
  padding-bottom: 45px;
}

.help__title {
  margin-bottom: 58px;
  text-align: center;
}

.help__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.help__item {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 55px;
  list-style-type: none;
}

.help__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer {
  background: url(background.png), radial-gradient(100% 900.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

}