html,
body{
  height: 100%;
  width: auto;
  min-width: 360px;
 }
.header{
  background-image: url(../img/Background.jpg);

}
.start__title,
.start__text{
  color:#fff
}
.start__button{
  border-radius:45px;
  background-color: rgb(192, 139, 89);
  color: #fff;
  
}
.pets{
margin-left: 150px;
}

.about__content {
  width: 450px;
}
.donate__content{
  width: 400px;
}
.footer{
  background-image: url(../img/Background.jpg);
padding-left: 150px;
}