// Цвета
$normal: #545454;
$gray:#cdcdcd;
$gray-dark:#292929;
$gray-light:#fafafa;
$basic-light: #f6f6f6;
$pink: #f1cdb3;
$pink-dark:#a97955;
$white: #fff;

// Шрифты
$main-font: "Georgia", "Arial", sans-serif;
$text-font: "Arial", sans-serif;


html, body {
  height: 100%;
  width: 100%;
  min-width: 360px;
  margin: auto;
}

.header {
  background: radial-gradient(100% 900.42% at 0% 0%, #40342d 0%, #19181b 100%), #19181b;
  padding-top: 40px;
}

.block-text {
  padding-top: 210px;
}

.main__title {
  font-family: $main-font;
  font-size: 44px;
  letter-spacing: 3px;
}

.nav-link {
  color: $gray;
  font-family: $text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;

  &:hover {
    color:$white;
    font-weight: bold;
  }
}

li {
  position: relative;
  color: $pink;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;

  &:after {
    display: block;
    position: absolute;
    width: 0;
    height: 4px;
    background-color:$pink;
    content: "";
    transition: width .5s ease-in-out;
  }

  &:hover:after, &:focus:after {
    width: 100%;
  }
}

.main__title {
  margin-bottom: 15px;
  color:$white;
}

.main__text {
  padding-top: 15px;
  margin-bottom: 40px;
  color: $gray;
  font-family: $text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.main__button {
  color: $pink;
  border-radius: 45px;
  border: 2px solid $pink;
  padding: 15px 43px;
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;
  font-family: $main-font;
  letter-spacing: 1px;
  font-size: 17px;
  width: 207px;

  &:hover {
    color: $gray-dark;
    background-color: $pink;
    border: $gray-dark;
  }
}

.card__button:hover {
  color: $gray-dark;
  background-color: $pink;
  border: $gray-dark;
}

.main__screen {
  padding-top: 90px;
}

#about {
  height: 588px;
  background: $gray-light;
}

.about-img {
  padding-top: 82px;
}

.pets {
  margin-left: 40px;
}

.about__title {
  font-family: $main-font;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 135%;
  color: $normal;
}

.about__content {
  width: 450px;
  padding-top: 80px;
  padding-left: 0;
  color: $normal;
  margin-right: 30px;
  word-spacing: 0.5px;
}

.about__text {
  font-family: $text-font;
  font-size: 15px;
  line-height: 160%;
  padding-top: 15px;
}

#card {
  background-color: $basic-light;
  padding-bottom: 87px;
}

.title-card {
  font-family: $main-font;
  font-size: 35px;
  color: $normal;
  text-align: center;
  letter-spacing: 1.2px;
  word-spacing: 1px;
  margin-bottom: 60px;
  padding-top: 80px;
  word-spacing: 1px;
}

.help__title {
  font-family: $main-font;
  font-size: 35px;
  color: $normal;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 1.4px;
}

.card-name {
  font-family: $main-font;
  font-size: 20px;
  color: $normal;
  letter-spacing: 1px;
  padding-bottom: 25px;
}

.card__button {
  color: $gray-dark;
  border-radius: 45px;
  border: 2px solid $pink;
  padding: 12px 43px;
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;
  font-family: $main-font;
  letter-spacing: 1px;
  font-size: 17px;
  width: 190px;
  height: 52px;
  margin-left: 25px;
  text-align: center;
}

.card-rest-btn {
  margin-top: 65px;
}

.card__button_rest {
  margin-left: 38%;
  height: 52px;
  color: $gray-dark;
  border-radius: 45px;
  border: 2px solid $pink;
  padding: 12px 43px;
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;
  font-family: $main-font;
  letter-spacing: 1px;
  font-size: 17px;
  text-align: center;
  width: 270px;
}

.carousel__button {
  color: $gray-dark;
  border-radius: 50%;
  border: 2px solid $pink;
  padding: 10px 15px;

  &:hover {
    color: $gray-dark;
    background-color: $pink;
  }
}

.card__button_rest:hover {
  color: $gray-dark;
  background-color: $pink;
}

.carousel-inner {
  padding-left: 75px;
}

.carousel-control-next {
  width: 20px;
}

.carousel-control-prev {
  width: 20px;
  left: -5px;
}

.carousel-control-next {
  right: -15px;
}

.row {
  padding: 0px;
  margin: 0px;
  justify-content: space-evenly;
}

.card-img-top {
  width: 100%;
  padding-left: 40px;
  padding-top: 45px;
}

.card {
  height: 435px;
  width: 270px;
  text-align: center;
  background-color: $gray-light;
  border: none;
}

.donate__content {
  width: 400px;
}

#help {
  color: $gray-light;
}

.help {
  padding-top: 82px;
  padding-left: 3px;
  padding-bottom: 45px;
}

.help__title {
  color: $normal;
  margin-bottom: 58px;
  text-align: center;
}

.help__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.help__item {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 55px;
  list-style-type: none;
}

.help__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.help__name {
  color: $normal;
}

#donation {
  background-color: $basic-light;
  color: $normal;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 100px;
}

.donate_img {
  Width: 505px;
  Height: 261px;
}

.donation__title {
  font-family: $main-font;
  font-size: 35px;
  letter-spacing: 2px;
  width: 360px;
}
.donation__button {
  font-family: $main-font;
  color:$gray-dark;
  border-radius: 9px;
  border: 2px solid $pink;
  background-color: $pink;
  padding: 10px 15px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding-left: 36px;
  padding-right: 36px;

  &:hover {
    color: $gray-dark;
    background-color: $pink-dark;
    border: $pink-dark;
  }
}
.donation__bank_text {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: $normal;
  margin-top: 20px;
}

.donation__text {
  font-family: $text-font;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $gray;
  margin-top: 35px;
}

#footer {
  background: radial-gradient(100% 900.42% at 0% 0%, #40342d 0%, #19181b 100%), #19181b;
  padding-left: 0px;
  height: 350px;
  font-family: $main-font
}

.footer-contacts {
  width: 280px;
  height: 250px;
  color: $pink;
  padding-top: 70px;
  line-height: 49px;
}

.mail, .phone {
  margin-right: 15px;
}

.footer__text {
  word-spacing: 3px;
}

.footer-location {
  width: 382px;
  height: 229px;
  padding-left: 120px;
  color: $pink;
  padding-top: 70px;
}

.footer__title {
  font-size: 35px;
  color: $white;
  letter-spacing: 2px;
  line-height: 49px;
  width: 278px;
}

.footer-img {
  margin-left: 50px;
  width: 300px;
  height: auto;
  padding-top: 20px;
}